<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConnOutlineMessenger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConnOutlineMessenger.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="menu-left">
        <div id="menu" class="ms-2">
            <div id="menu-items">
                <hr>
                <button><i class="fas fa-gear"></i>Настройки</button>
                <hr>
                <i class="fa-duotone fa-gear"></i><button>Настройки</button>
                <hr>
                <i class="fa-solid fa-gear"></i>
                <p>Четвёртый итем</p>
                <hr>
            </div>
        </div>
    </div>
    <div id="menu-right">
        <div id="menu" class="me-2">
            <div id="menu-items">
                <p>Первый итем</p>
                <p>Второй итем</p>
                <p>Третий итем</p>
                <p>Четвёртый итем</p>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
