<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConnOutlineMessenger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chat/menu.css">
    <link rel="stylesheet" href="~/ConnOutlineMessenger.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="menu-left">
        <div id="menu" class="ms-2">
            <div id="menu-items">
                <hr>
                <button onclick="loadcart()"><i class="fa-solid fa-plus"></i> Чаты</button>
                <hr>
                <button onclick="friends()"><i class="fa-solid fa-plus"></i> Друзья</button>
                <hr>
                <button onclick="addFriendModal()"><i class="fa-solid fa-user"></i> Добавить друга</button>
                <hr>
                <button onclick="createChatModal()"><i class="fa-solid fa-plus"></i> Добавить чат</button>
                <hr>
            </div>
        </div>
    </div>
    <div id="menu-right">
        <div id="menu" class="me-2">
            <div id="menu-items">
                <hr>
                <button onclick="logout()"><i class="fa-solid fa-right-from-bracket"></i> Выйти с аккаунта</button>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <div id="load-div"></div>    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/headerSetting.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
