@{
    Layout = "ChatLayout";
    ViewData["Title"] = "Chat";
}
<link rel="stylesheet" href="~/css/animatedBackground.css">
<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<div style="background-color: black;">
    <form method="post" action="/Home/Index">
        <input type="email">
        <input type="password">
        <input type="submit">
    </form>
</div>